{% extends 'base.html' %}

{% block content %}
<main>
  <div class="text-center pt-4">
    <h1>추천 영화</h1>
  </div>
  <section class="container py-4">
    <div class="card mb-3">
      <div class="row row-cols-1 row-cols-sm-2 g-0">
        <div class="col col-lg-4">
          <img src="{{ poster_path }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col col-lg-8 py-1 px-1 d-flex justify-content-center align-items-center">
          <div class="card-body">
            <h3 class="card-title mb-3">{{ movie_title }} <span class="badge bg-success">{{ score }}</span></h3>
            <p class="card-text">{{ overview }}</p>
            <p class="card-text"><small class="text-muted">개봉: {{ release_date }}</small></p>
            <div class="d-grid mx-4">
              <a class="btn btn-info" href="https://www.themoviedb.org/movie/{{ r_movie_id }}" role="button">상세 정보</a>
              {% comment %} <button type="button" class="btn btn-info"><a class="text-decoration-none"href="https://www.themoviedb.org/movie/{{ r_movie_id }}">상세 정보</a></button> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}